body {
  background-color: gray;
}

#flip {
  background-color: black;
  text-align: center;
  font-size: 48px;
  color: blue;
  font-family: fantasy;
}

#more_info {
  background-color: black;
  text-align: center;
  font-size: 24px;
  color: blue;
  font-family: fantasy;
}

#panel {
  padding: 50px;
  background-color: black;
  display: none;
  font-size: 18px;
  color: blue;
  font-family: sans-serif;
}
